.header {
  display: flex;
  flex-direction: column;
}
.header__menu {
  display: flex;
  padding-left: 15px;
  height: 64px;
}
.header__menu_logo {
  display: flex;
}
.header__menu_logo .header__menu_logo-icon {
  margin: auto;
  max-width: 100%;
}
.header__menu_logo .header__menu_logo-text {
  margin: auto 0 auto 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.header__menu_navigation {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  width: 58px;
}
.header__menu_navigation .header__menu_navigation-icon {
  margin: auto;
}
.header__menu_navigation .header__menu_navigation-icon .navigation-icon-line {
  width: 18px;
  height: 2.17px;
  background-color: rgb(44, 50, 65);
  opacity: 0.6;
}
.header__menu_navigation .header__menu_navigation-icon .navigation-icon-line:not(:first-child) {
  margin-top: 3.25px;
}
.header__headline {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 198, 189);
}
.header__headline_title {
  padding: 0 15px 0 15px;
  margin: 35px 0 0 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: rgb(43, 41, 45);
}
.header__headline_description {
  padding: 0 15px 0 15px;
  margin: 24px 0 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.header__headline_image .main-image {
  width: 100%;
  margin-top: 33px;
}

.button-started {
  margin: 30px 15px 0 15px;
  padding: 0;
  border: none;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: rgb(48, 64, 196);
  color: rgb(255, 255, 255);
}

.button-learn {
  margin: 30px 15px 0 15px;
  padding: 0;
  border: none;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 64, 196);
}

.description {
  display: flex;
  flex-direction: column;
  color: rgb(43, 41, 45);
  background-color: rgb(244, 245, 247);
  font-size: 22px;
  line-height: 32px;
  padding: 46px 15px 46px;
}
.description__about {
  margin: 0;
}
.description__about_title {
  font-weight: 700;
  margin: 0;
}
.description__about_text {
  font-weight: 400;
  margin-bottom: 0;
}
.description__for {
  margin: 20px 0 0;
}
.description__for_title {
  font-weight: 700;
  margin: 0;
}
.description__for_text {
  font-weight: 400;
  margin-bottom: 0;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos__line {
  display: flex;
}
.logos__line_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 94px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.logos__line_icon .icon-image-the-new-york-times,
.logos__line_icon .icon-image-forbes,
.logos__line_icon .icon-image-mashable,
.logos__line_icon .icon-image-google {
  filter: brightness(0);
  width: 80%;
}
.logos__line_icon:not(:last-child) {
  border-right: 1px solid rgb(227, 227, 227);
}

.features {
  display: flex;
  flex-direction: column;
}
.features__content {
  display: flex;
  flex-direction: column;
  padding: 49px 15px 50px 15px;
}
.features__content_subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: rgb(0, 155, 77);
  margin: 0;
}
.features__content_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: rgb(43, 41, 45);
  margin: 17px 0 0;
}
.features__content_text {
  margin: 15px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.features__content_card {
  margin: 15px 0 0;
}
.features__content_card .card-description {
  margin: 19px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.features__border-bottom {
  height: 1px;
  width: 100vw;
  background-color: rgb(227, 227, 227);
}

.inbox {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 240, 227);
  padding: 0 15px 50px;
}
.inbox__picture {
  margin-top: 50px;
  width: 290px;
}
.inbox__description {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.inbox__description_subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: rgb(241, 89, 43);
}
.inbox__description_title {
  margin: 17px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: rgb(43, 41, 45);
}
.inbox__description_text {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.inbox__comment {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px;
  margin-top: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgb(1, 133, 208);
}
.inbox__comment_text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: rgb(43, 41, 45);
}
.inbox__comment_autor {
  display: flex;
  margin-top: 28px;
}
.inbox__comment_autor .inbox__comment_autor-icon {
  margin: 0 11px 0 0;
  height: 90%;
}
.inbox__comment_autor .inbox__comment_autor-information {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 22px;
}
.inbox__comment_autor .inbox__comment_autor-information .inbox__comment_autor-information-name {
  margin: 0;
  font-weight: 700;
  color: rgb(43, 41, 45);
}
.inbox__comment_autor .inbox__comment_autor-information .inbox__comment_autor-information-position {
  margin: 0;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
}

.commucate {
  padding: 50px 15px;
  background-color: rgb(242, 242, 242);
}
.commucate__description_subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: rgb(1, 137, 209);
}
.commucate__description_title {
  margin: 17px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: rgb(43, 41, 45);
}
.commucate__description_text {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.commucate .button-started {
  width: 160px;
  height: 48px;
  margin: 30px 0 0;
}
.commucate__card {
  margin: 40px 0 0;
}
.commucate__card_image {
  max-width: 100%;
}
.commucate__card_signature {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.commucate .communicate__possibilities_item {
  margin: 33px 0 0 0;
}
.commucate .communicate__possibilities .communicate__possibilities_item-text {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: rgb(43, 41, 45);
}
.commucate .communicate__possibilities .communicate__possibilities_item-link {
  margin-bottom: 0;
  color: rgb(48, 64, 196);
}
.commucate .communicate__possibilities .communicate__possibilities_item-link a:visited {
  color: rgb(48, 64, 196);
}

.audience {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);
}
.audience__description {
  display: flex;
  flex-direction: column;
}
.audience__description_subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.audience__description_title {
  margin: 17px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: rgb(43, 41, 45);
}
.audience__description_text {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.audience .button-started {
  margin: 30px 0 0;
}
.audience .button-learn {
  margin: 12px 0 0;
}
.audience__categories {
  margin: 40px 0 0;
}
.audience__categories_item {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 300px;
  border-radius: 8px;
  margin: 15px 0 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.audience__categories_item .audience__categories_item-content {
  margin: auto;
}
.audience__categories_item .audience__categories_item-content .audience__categories_item-image {
  max-width: 100%;
}
.audience__categories_item .audience__categories_item-content .audience__categories_item-text {
  margin: 22px 0 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: rgb(43, 41, 45);
}
.audience__categories_item:hover {
  cursor: pointer;
  background-color: rgb(48, 64, 196);
}
.audience__categories_item:hover .audience__categories_item-text {
  color: rgb(242, 242, 242);
}

.feedback {
  display: flex;
  flex-direction: column;
}
.feedback__about {
  margin: 39px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: rgb(49, 66, 198);
}
.feedback__comment {
  margin: 29px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: rgb(43, 41, 45);
}
.feedback__user {
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 24px;
  color: rgb(43, 41, 45);
}
.feedback__user_name {
  font-weight: 700;
  margin: 0;
}
.feedback__user_position {
  margin: 0;
  font-weight: 400;
  opacity: 0.6;
}
.feedback__scroll {
  display: flex;
  margin-top: 40px;
  height: 12px;
  width: 100%;
  justify-content: center;
}
.feedback__scroll_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(49, 66, 197);
}
.feedback__scroll_circle:not(:first-child) {
  margin-left: 19.5px;
  background-color: rgb(43, 41, 45);
  opacity: 0.2;
}
.feedback__image {
  margin: 40px 0 0;
  max-width: 100%;
}

.bottom-border {
  height: 1px;
  width: 100vw;
  margin: 50px 0 0;
  background-color: rgb(227, 227, 227);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
