@import 'variables.scss';

.audience {
  @extend .flex-column;
  padding: 50px 15px;
  background-color: $black-opacity-007;
  &__description {
    @extend .flex-column;
    text-align: center;
    &_subtitle {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
    }
    &_title {
      margin: 17px 0 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.357143px;
    }
    &_text {
      margin: 18px 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
    }
  }
  .button-started {
    margin: 30px 0 0;
  }
  .button-learn {
    margin: 12px 0 0;
    color: $just-black;
  }
  &__categories {
    margin: 40px 0 0;
    &_item {
      @extend .flex-column;
      width: 290px;
      height: 300px;
      border-radius: 8px;
      margin: 15px 0 0;
      background: $gradient-black-white;
      box-shadow: $box-shadow-inbox-comment;
      .audience__categories_item-content {
        margin: auto;
        .audience__categories_item-image {
          max-width: 100%;
        }
        .audience__categories_item-text {
          margin: 22px 0 33px;
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
          text-align: center;
        }
      }
    }
    &_item:hover {
      cursor: pointer;
      background-color: $blue-third-shade;
      .audience__categories_item-text {
        color: $white-third-shade;
      }
    }
  }
}
