@import 'variables.scss';
@import 'breakpoints.scss';

.audience {
  @extend .flex-column;
  padding: 50px 15px;
  background-color: $black-opacity-007;
  @include extra-large-screen {
    padding: 108px 131px 110px 130px;
  }
  &__description {
    @extend .flex-column;
    text-align: center;
    @include extra-large-screen {
      width: 555px;
      margin: auto;
    }
    &_subtitle {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
    }
    &_title {
      margin: 17px 0 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.357143px;
      @include extra-large-screen {
        margin: 24px 0 0;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
      }
    }
    &_text {
      margin: 18px 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      @include extra-large-screen {
        margin: 30px 0 0;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    @include extra-large-screen {
      flex-direction: row;
      margin: 34px auto 0;
    }
    .button-started {
      margin: 30px 0 0;
      @include extra-large-screen {
        width: 160px;
        margin: 0;
      }
    }
    .button-learn {
      margin: 12px 0 0;
      color: $just-black;
      @include extra-large-screen {
        width: 160px;
        margin: 0 0 0 10px;
      }
    }
  }
  &__categories {
    margin: 40px auto 0;
    @include extra-large-screen {
      display: flex;
      margin-top: 111px;
    }
    &_item {
      @extend .flex-column;
      width: 290px;
      height: 300px;
      border-radius: 8px;
      background: $gradient-black-white;
      box-shadow: $box-shadow-inbox-comment;
      @include extra-large-screen {
        width: 262px;
        height: 300px;
      }
      .audience__categories_item-content {
        display: flex;
        flex-direction: column;
        .audience__categories_item-image {
          margin: 22px auto 0;
          height: 195px;
        }
        .audience__categories_item-text {
          margin: 22px 0 0 0;
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
          text-align: center;
        }
        #audience__categories_item-image-last {
          margin: 22px 0 0 77px;
          width: 119px;
          height: 195px;
        }
      }
    }
    &_item:not(:first-child) {
      margin: 15px 0 0;
      @include extra-large-screen {
        margin: 0 0 0 30px;
      }
    }
    &_item:hover {
      cursor: pointer;
      background-color: $blue-third-shade;
      .audience__categories_item-text {
        color: $white-third-shade;
      }
    }
  }
}
