@import 'variables.scss';

.description {
  @extend .flex-column;
  background-color: $white-first-shade;
  font-size: 22px;
  line-height: 32px;
  padding: 46px 15px 46px;
  &__about {
    margin: 0;
    &_title {
      font-weight: 700;
      margin: 0;
    }
    &_text {
      margin-top: 10px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  &__about:nth-child(2) {
    margin-top: 20px;
  }
}
