@import 'variables.scss';

.features {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    padding: 49px 15px 50px 15px;
    &_subtitle {
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $color-subtitle-green;
      margin: 0;
    }
    &_title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.357143px;
      color: $text-color;
      margin: 17px 0 0;
    }
    &_text {
      margin: 15px 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      color: $text-color;
    }
    &_card {
      margin: 15px 0 0;
      .card-description {
        margin: 19px 0 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: $text-color-card-description;
      }
    }
  }
  &__border-bottom {
    height: 1px;
    width: 100vw;
    background-color: $background-color-border;
  }
}
