@import 'variables';

.header {
  display: flex;
  flex-direction: column;
  &__menu {
    display: flex;
    padding-left: 15px;
    height: 64px;
    &_logo {
      display: flex;
      .header__menu_logo-icon {
        margin: auto;
        max-width: 100%;
      }
      .header__menu_logo-text {
        margin: auto 0 auto 13px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
      }
    }
    &_navigation {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      border-left: 1px solid $black;
      width: 58px;
      .header__menu_navigation-icon {
        margin: auto;
        .navigation-icon-line {
          width: 18px;
          height: 2.17px;
          background-color: $black-first-shade;
        }
        .navigation-icon-line:not(:first-child) {
          margin-top: 3.25px;
        }
      }
    }
  }
  &__headline {
    display: flex;
    flex-direction: column;
    background-color: $skin;
    &_title {
      padding: 0 15px 0 15px;
      margin: 35px 0 0 0;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.3125px;
      color: $main-text-color;
    }
    &_description {
      padding: 0 15px 0 15px;
      margin: 24px 0 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      color: $main-text-color;
    }
    &_image {
      .main-image {
        width: 100%;
        margin-top: 33px;
      }
    }
  }
}

.button-started {
  margin: 30px 15px 0 15px;
  padding: 0;
  border: none;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: $blue-third-shade;
  color: $white-fourth-shade;
}

.button-learn {
  margin: 30px 15px 0 15px;
  padding: 0;
  border: none;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: $white-fourth-shade;
  color: $blue-third-shade;
}
