@import 'variables.scss';
@import 'breakpoints.scss';

.headline {
  background-color: $skin;
  &__description {
    @extend .flex-column;
    @include extra-large-screen {
      position: absolute;
      top: 177px;
      left: 126px;
      z-index: 1;
    }
    &_title {
      padding: 0 15px 0 15px;
      margin: 35px 0 0 0;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.3125px;
      @include extra-large-screen {
        width: 754px;
        margin: 0;
        font-weight: 700;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        padding: 0;
      }
    }
    &_about {
      padding: 0 15px 0 15px;
      margin: 24px 0 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      @include extra-large-screen {
        margin: 34px 0 0;
        width: 456px;
        padding: 0;
      }
    }
    &_buttons {
      display: flex;
      flex-direction: column;
      margin: 0 15px;
      @include extra-large-screen {
        flex-direction: row;
        margin: 58px 0 0 0;
      }
      .button-started {
        margin-top: 30px;
        @include extra-large-screen {
          width: 160px;
          margin: 0;
        }
      }
      .button-learn {
        margin-top: 15px;
        @include extra-large-screen {
          width: 160px;
          margin: 0 0 0 10px;
        }
      }
    }
  }
  .headline__image {
    .main-image {
      max-width: 100vw;
      @include extra-large-screen {
        width: 796px;
        height: 448px;
        margin: 90px 0 77px 579px;
      }
    }
  }
}
