@import 'variables.scss';

.hiring {
  padding: 50px 15px;
  &__description {
    &_title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.357143px;
      margin: 0;
      text-align: center;
    }
    &_text {
      margin: 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }
  }
  .button-started {
    width: 100%;
    margin: 30px 0 0;
  }
  &__jobs {
    margin: 39px 0 0;
    &_vacancy {
      display: flex;
      border: 1px solid $black-opacity-02;
      border-radius: 8px;
      height: 142px;
      margin: 15px 0 0;
      .hiring__jobs_vacancy-description {
        .hiring__jobs_vacancy-description-direction {
          margin: 19px 21px 0 20px;
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
        }
        .hiring__jobs_vacancy-description-time {
          margin: 7px 21px 0 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          opacity: 0.6;
        }
      }
      .hiring__jobs_vacancy-arrow {
        display: flex;
        margin-left: auto;
        height: 140px;
        width: 50px;
        background-color: $grey;
        outline: 1px solid $grey;
        border-radius: 0px 6px 6px 0px;
        .hiring__jobs_vacancy-arrow-image {
          margin: auto;
          width: 12px;
          height: 7px;
          rotate: -90deg;
        }
      }
    }
  }
}
