@import 'variables.scss';

.inbox {
  @extend .flex-column;
  background-color: $white-second-shade;
  padding: 0 15px 50px;
  &__picture {
    margin-top: 50px;
    width: 290px;
  }
  &__description {
    @extend .flex-column;
    margin-top: 30px;
    &_subtitle {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $red;
    }
    &_title {
      margin: 17px 0 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.357143px;
    }
    &_text {
      margin: 18px 0 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
    }
  }
  &__comment {
    @extend .flex-column;
    padding: 30px 20px 30px;
    margin-top: 30px;
    background: $gradient-black-white;
    box-shadow: $box-shadow-inbox-comment;
    border-bottom: 4px solid $blue-first-shade;
    &_text {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
    &_autor {
      display: flex;
      margin-top: 28px;
      .inbox__comment_autor-icon {
        margin: 0 11px 0 0;
        height: 90%;
      }
      .inbox__comment_autor-information {
        @extend .flex-column;
        font-size: 16px;
        line-height: 22px;
        .inbox__comment_autor-information-name {
          margin: 0;
          font-weight: 700;
        }
        .inbox__comment_autor-information-position {
          margin: 0;
          font-weight: 400;
          color: $main-text-color-opacity-06;
        }
      }
    }
  }
}
