@import 'variables.scss';
@import 'breakpoints';
@import 'header.scss';
@import 'description.scss';
@import 'logos.scss';
@import 'Features-small-screen.scss';
@import 'Features-extra-large-screen.scss';
@import 'inbox.scss';
@import 'communicate.scss';
@import 'audience.scss';
@import 'feedback.scss';
@import 'hiring.scss';
@import 'order.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $main-text-color;
}

body {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  @include small-screen {
    width: 100vw;
  }
}
