@import 'variables.scss';
@import 'breakpoints';

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include extra-large-screen {
    flex-direction: row;
    .logos__line_icon:not(:first-child) {
      margin-left: 100px;
    }
    .logos__line:last-child .logos__line_icon:first-child {
      margin-left: 100px;
    }
  }
  &__line {
    display: flex;
    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 107px;
      height: 94px;
      border-bottom: 1px solid $white;
      flex-shrink: 1;
      @include extra-large-screen {
        border: none;
      }
      .icon-image-forbes,
      .icon-image-mashable,
      .icon-image-google {
        filter: brightness(0);
        width: 80%;
      }
      .icon-image-wsj {
        width: 50%;
      }
      .icon-image-apple {
        width: 35%;
      }
      .icon-image-the-new-york-times {
        width: 75%;
      }
    }
    &_icon:not(:last-child) {
      border-right: 1px solid $white;
      @include extra-large-screen {
        border: none;
      }
    }
  }
  @include extra-large-screen {
    .logos__line_icon:not(:first-child) {
      margin-left: 100px;
    }
    .logos__line:last-child .logos__line_icon:first-child {
      margin-left: 100px;
    }
  }
}
