@import 'variables.scss';
@import 'breakpoints.scss';

.order {
  padding: 50px 15px;
  background-color: $white-first-shade;
  @include extra-large-screen {
    display: flex;
    padding: 0 228px 72px 224px;
  }
  &__picture {
    display: flex;
    justify-content: center;
    margin: 73px 0 0 0;
    &_image {
      width: 200px;
      height: 220px;
      @include extra-large-screen {
        width: 270px;
        height: 296px;
      }
    }
  }
  &__description {
    @include extra-large-screen {
      margin: 106px 0 0 123px;
    }
    &_text {
      .order__description_text-title {
        margin: 40px 0 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.25px;
        color: $main-text-color;
        @include extra-large-screen {
          text-align: left;
          margin: 0;
        }
      }
      .order__description_text-about {
        margin: 18px 0 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $main-text-color;
        @include extra-large-screen {
          text-align: left;
          margin: 12px 0 0;
        }
      }
    }
    &_buttons {
      @include extra-large-screen {
        display: flex;
        margin: 26px 0 0;
      }
      .order__description_text-email {
        margin: 40px 0 0;
        border: 1px solid $black-opacity-02;
        border-radius: 2px;
        font-weight: 400;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        width: 100%;
        height: 48px;
        @include extra-large-screen {
          margin: 0;
          flex-grow: 3;
          width: 385px;
        }
      }
      .button-started {
        margin: 12px 0 0;
        width: 100%;
        @include extra-large-screen {
          margin: 0 0 0 10px;
          width: 160px;
        }
      }
    }
    &_footnote {
      margin: 10px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $main-text-color-opacity-06;
    }
    &_footnote a:visited {
      color: $blue-fifth-shade;
    }
  }
}
