$sm: 320px;
$xl: 1400;

$text-color: rgb(43, 41, 45);

$background-color-headline: rgb(243, 198, 189);
$background-color-navigation-line: rgb(0, 0, 0, 0.15);
$background-color-navigation-icon-line: rgb(44, 50, 65);
$background-color-description: rgb(244, 245, 247);
$background-color-border: rgb(227, 227, 227);
$background-color-inbox: rgb(252, 240, 227);
$background-color-inbox-comment: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 1e-5) 100%
  ),
  #ffffff;
$background-color-border-inbox-comment: #0185d0;

$color-button-white: rgb(255, 255, 255);
$color-button-blue: rgb(48, 64, 196);
$color-subtitle-green: rgb(0, 155, 77);
$color-subtitle-red: rgb(241, 89, 43);
$text-color-card-description: rgba(43, 41, 45, 0.6);
$color-information-position: rgba(43, 41, 45, 0.6);

$box-shadow-inbox-comment: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
  inset 0px 1px 0px rgba(255, 255, 255, 0.1);
