$sm: 320px;
$xl: 1400;

$main-text-color: rgb(43, 41, 45);
$main-text-color-opacity-06: rgba(43, 41, 45, 0.6);

$black: rgb(0, 0, 0, 0.15);
$black-first-shade: rgb(44, 50, 65, 0.6);
$black-opacity-02: rgba(43, 41, 45, 0.2);
$black-opacity-007: rgb(0, 161, 198, 0.07);

$white: rgb(227, 227, 227);
$white-first-shade: rgb(244, 245, 247);
$white-second-shade: rgb(252, 240, 227);
$white-third-shade: rgb(242, 242, 242);
$white-fourth-shade: rgb(255, 255, 255);

$blue-first-shade: rgb(1, 133, 208);
$blue-second-shade: rgb(49, 66, 197);
$blue-third-shade: rgb(48, 64, 196);
$blue-fourth-shade: rgb(1, 137, 209);
$blue-fifth-shade: rgb(49, 66, 198);

$skin: rgb(243, 198, 189);

$grey: rgb(213, 212, 213);

$green: rgb(0, 155, 77);

$red: rgb(241, 89, 43);

$gradient-black-white: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 1e-5) 100%
  ),
  #ffffff;

$box-shadow-inbox-comment: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
  inset 0px 1px 0px rgba(255, 255, 255, 0.1);
