$sm: 320px;
$xl: 1400;

$text-color: rgb(43, 41, 45);

$background-color-headline: rgb(243, 198, 189);
$background-color-navigation-line: rgb(0, 0, 0, 0.15);
$background-color-navigation-icon-line: rgb(44, 50, 65);
$background-color-description: rgb(244, 245, 247);
$background-color-border: rgb(227, 227, 227);

$color-button-white: rgb(255, 255, 255);
$color-button-blue: rgb(48, 64, 196);
$color-subtitle-green: rgb(0, 155, 77);
$text-color-card-description: rgba(43, 41, 45, 0.6);
